In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action='ignore')
import seaborn as sns
%matplotlib inline

In [2]:
train_df = pd.read_csv('C:/Users/Gautham/Datasets/train_income.csv')
test_df = pd.read_csv('C:/Users/Gautham/Datasets/test_income.csv')

In [3]:
train_df.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.0,121.0,289,4
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121,1369,16,121,4,1.777778,1.0,121.0,1369,4

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9557 entries, 0 to 9556
Columns: 143 entries, Id to Target
dtypes: float64(8), int64(130), object(5)
memory usage: 10.4+ MB

In [5]:
#Find out columns which are objects
train_df.select_dtypes(include='object')

                Id    idhogar dependency edjefe edjefa
0     ID_279628684  21eb7fcc1         no     10     no
1     ID_f29eb3ddd  0e5d7a658          8     12     no
2     ID_68de51c94  2c7317ea8          8     no     11
3     ID_d671db89c  2b58d945f        yes     11     no
4     ID_d56d6f5f5  2b58d945f        yes     11     no
...            ...        ...        ...    ...    ...
9552  ID_d45ae367d  d6c086aa3        .25      9     no
9553  ID_c94744e07  d6c086aa3        .25      9     no
9554  ID_85fc658f8  d6c086aa3        .25      9     no
9555  ID_ced540c61  d6c086aa3        .25      9     no
9556  ID_a38c64491  d6c086aa3        .25      9     no

[9557 rows x 5 columns]

In [6]:
# dependency is the square root of column SQBdependency so filling missing values, and na taking squrt
train_df[['dependency','SQBdependency']]
train_df['dependency'] = np.sqrt(train_df['SQBdependency'])
test_df[['dependency','SQBdependency']]
test_df['dependency'] = np.sqrt(test_df['SQBdependency'])

In [8]:
train_df['edjefe'] = train_df['edjefe'].replace(['yes'],1)
train_df['edjefe'] = train_df['edjefe'].replace(['no'],0)
train_df['edjefe'] = train_df['edjefe'].astype(int)

test_df['edjefe'] = test_df['edjefe'].replace(['yes'],1)
test_df['edjefe'] = test_df['edjefe'].replace(['no'],0)
test_df['edjefe'] = test_df['edjefe'].fillna(test_df['edjefe'].mode()[0])
test_df['edjefe'] = test_df['edjefe'].astype(int)

In [9]:
train_df['edjefa'] = train_df['edjefa'].replace(['yes'],1)
train_df['edjefa'] = train_df['edjefa'].replace(['no'],0)
train_df['edjefa'] = train_df['edjefa'].astype(int)

test_df['edjefa'] = test_df['edjefa'].replace(['yes'],1)
test_df['edjefa'] = test_df['edjefa'].fillna(test_df['edjefa'].mode()[0])

test_df['edjefa'] = test_df['edjefa'].replace(['no'],0)
test_df['edjefa'] = test_df['edjefa'].astype(int)

In [11]:
#Q7: Count how many null values are existing in columns.

null_columns=train_df.columns[train_df.isna().any()]
print(null_columns)
train_df[null_columns].isnull().sum()

Index(['v2a1', 'v18q1', 'rez_esc', 'meaneduc', 'SQBmeaned'], dtype='object')

v2a1         6860
v18q1        7342
rez_esc      7928
meaneduc        5
SQBmeaned       5
dtype: int64

In [10]:

null_columns=train_df.columns[train_df.isna().any()]
print(null_columns)
test_df[null_columns].isnull().sum()

Index(['v2a1', 'v18q1', 'rez_esc', 'meaneduc', 'SQBmeaned'], dtype='object')

v2a1         17403
v18q1        18126
rez_esc      19653
meaneduc        31
SQBmeaned       31
dtype: int64

In [12]:
#train_df['v2a1'] = train_df['v2a1'].fillna(train_df['v2a1'].mean())
norent = train_df[train_df['v2a1'].isnull()]
print("owns a house",norent[norent['tipovivi1']==1]['Id'].count()) # Moist of them own the house hence fillig na with 0
train_df['v2a1'] = train_df['v2a1'].fillna(0)
train_df['v2a1'].isna().sum()

owns a house 5911

0

In [13]:
norent = test_df[test_df['v2a1'].isnull()]
print("owns a house",norent[norent['tipovivi1']==1]['Id'].count()) # Moist of them own the house hence fillig na with 0
test_df['v2a1'] = test_df['v2a1'].fillna(0)
test_df['v2a1'].isna().sum()

owns a house 14933

0

In [14]:
train_df['v18q1'] = train_df['v18q1'].fillna(0)  #they don't own tablets hence filling with 0 
train_df['rez_esc']= train_df['rez_esc'].fillna(train_df['rez_esc'].mode()[0])
train_df['meaneduc'] = train_df['meaneduc'].fillna(train_df['meaneduc'].mean())
train_df['SQBmeaned'] = train_df['SQBmeaned'].fillna(train_df['SQBmeaned'].mean())

In [15]:
# Filling Na with means and modes as per their unique vlues
test_df['v18q1'] = test_df['v18q1'].fillna(0)  #they don't own tablets hence filling with 0 
test_df['rez_esc']= test_df['rez_esc'].fillna(test_df['rez_esc'].mode()[0])
test_df['meaneduc'] = test_df['meaneduc'].fillna(test_df['meaneduc'].mean())
test_df['SQBmeaned'] = test_df['SQBmeaned'].fillna(test_df['SQBmeaned'].mean())

In [16]:
# Remove null value rows of the target variable.
# There are no null values in traget
print(train_df['Target'].isna().any())

False

In [0]:
train_df['Target'].hist()

In [17]:
#parentesco1
#Check if there is a house without a family head.
#train_df['parentesco1'].value_counts()
train_df['idhogar']

heads = train_df.groupby('idhogar')['parentesco1'].sum()
#print(heads)
heads[heads==0].value_counts()
# Numer of houses without household heads are 15

0    15
Name: parentesco1, dtype: int64

In [18]:
train_df = train_df.drop(['Id','idhogar'],axis=1)
test_df = test_df.drop(['Id','idhogar'],axis=1)

In [19]:
# FInd highly correlated columns to remove
corr_matrix = train_df.corr().abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.90)]
to_drop

['tamhog',
 'tamviv',
 'hhsize',
 'abastaguafuera',
 'coopele',
 'sanitario3',
 'energcocinar3',
 'female',
 'hogar_total',
 'area2',
 'SQBescolari',
 'SQBage',
 'SQBhogar_total',
 'SQBedjefe',
 'SQBovercrowding',
 'SQBdependency',
 'SQBmeaned',
 'agesq']

In [20]:
test_df.drop(to_drop,axis=1,inplace=True)
train_df.drop(to_drop,axis=1,inplace=True)

In [21]:

train_df['v18q1'] = train_df['v18q1'].astype(int)
train_df['rez_esc'] = train_df['rez_esc'].astype(int)

In [22]:
x= train_df.drop(['Target'],axis=1)
y = train_df['Target']

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [24]:
#Predict the accuracy using random forest classifier.

from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()

In [25]:
from sklearn.metrics import accuracy_score
classifier.fit(X_train,y_train)
y_predict = classifier.predict(X_test)
accuracy = accuracy_score(y_predict,y_test)
print(accuracy)

0.9330543933054394

In [28]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold
classifier = RandomForestClassifier()

In [29]:
#Check the accuracy using random forest with cross validation.
from sklearn.model_selection import cross_val_score
print(cross_val_score(classifier, x, y,  cv=StratifiedKFold(shuffle=True,n_splits=10),scoring='accuracy'))

[0.92677824 0.93933054 0.94351464 0.95292887 0.94560669 0.93514644
 0.94456067 0.93193717 0.94031414 0.93089005]

In [30]:
accuracy = cross_val_score(classifier, x, y, scoring='accuracy',cv=StratifiedKFold(shuffle=True,n_splits=10)).mean() * 100
print("Accuracy of Random Forests is: " , accuracy)

Accuracy of Random Forests is:  94.02540033735679

In [31]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train,y_train)
predictedoutput = classifier.predict(test_df)
predictedoutput # Predicted out ie income rating for test data file

array([4, 4, 4, ..., 4, 4, 4], dtype=int64)

In [32]:
test_df['Target'] = predictedoutput

In [33]:
test_df['Target'].unique()

array([4, 2, 3, 1], dtype=int64)